* {
    box-sizing: border-box;
}


body{
    background-color: #008080;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 16px;
}


.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}


.brand{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}


h2{
    text-align: center;
}


.wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 9, 19, 0.7);
    /*display: grid;
    grid-template-columns: 1fr 2fr;*/
}

.wrapper > * {
    padding: 16px;
}


.description{
    background-color: #48d1cc;
}

.description h2,
.description p{
    margin: 0 0 16px;
}


.form{
    background: #f9feff;
    padding-top: 60px;
}


.form form label{
    display: block;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}


form input,
button,
select{
    width: 100%;
    padding: 16px;
    border: 1px solid #48d1cc;
    border-radius: 10px;
}


.box{
    margin: 0;
}


.full{
    grid-column: 1 / 3;
}


button{
    background-color: #48d1cc;
    border: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}


button:hover{
    background: #92bde7;
    color:#f4f4f4;
}


@media(min-width: 700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .description h2,
    .description p,
    .brand {
        text-align: left;
    }

    form{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}